{% extends 'webpage/base.html' %}

{% block login-a %}active{% endblock %}

{% block content %}
  <div class="login-page">
    <form class="form needs-validation" id="form-login" action="" method="POST" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <h3>Iniciar Sesión</h3>
      </div>
      <div class="form-floating mb-3">
        <input type="text" placeholder="Usuario" id="txtusuario" name="username" class="form-control has-validation" required/>
        <label for="txtusuario">Usuario</label>
        <div class="invalid-feedback">
          Por favor ingrese un usuario.
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="password" placeholder="Contraseña" id="txtclave" class="form-control" name="password" required/>
        <label for="txtclave">Contraseña</label>
        <div class="invalid-feedback">
          Por favor, ingrese su contraseña.
        </div>
      </div>
      <div class="mb-3">
        <input type="submit" class="btn-login" id="btn-login" value="LOGIN"/>
      </div>
      <div class="mb-3">
        <p class="mensaje">¿No estas registrado?<br><a href="./register.html">Crea una cuenta</a></p>
      </div>
      
    </form>
  </div>
{% endblock %}