{% extends 'webpage/base.html' %}

{% block control-a %}active{% endblock %}

{% block content %}
    <div>{{ prod.sku }}</div>
    <div class="container-xxl">
        <div class="ar-control">
            <h1 class="titulo">Control de Producto {{ btn }}</h1>
            <div class="">
                <form class="" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="number" class="form-control" name="c-sku" value="{{ prod.sku }}">
                                <input type="button" class="btn btn-secondary" value="Buscar">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col input-group">
                            <span class="input-group-text">Nombre</span>
                            <input class="form-control" type="text" name="txtNombre" value="{{ prod.nombre }}"/>

                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Cantidad</span>
                            <input class="form-control" type="number" name="txtCantidad" value="{{ prod.cantidad }}">
                            <select class="form-select" aria-label="Unidad" name="sel-tipo">
                                <option value="1" {% if prod.tipo.id == 1 %}selected{% endif %}>Kg</option>
                                <option value="2" {% if prod.tipo.id == 2 %}selected{% endif %}>Un</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col input-group">
                            <span class="input-group-text">Descripcion</span>
                            <input class="form-control" name="txtDesc" type="text" value="{{ prod.descripcion }}">
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Proveedor</span>
                            <input name="txtProv" class="form-control" type="text" value="{{ prod.proveedor }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col align-items-center d-flex">
                            <div class=" form-check form-switch">
                                <label class="form-check-label">Alerta Bajo stock</label>
                                <input class="form-check-input" type="checkbox" role="switch" name="bajoStockCheck" {% if prod.alerta_bajo %}checked{% endif %}>
                            </div>
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Bajo stock</span>
                            <input name="txtBajoStock" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col align-items-center d-flex">
                            <div class=" form-check form-switch">
                                <label class="form-check-label">Alerta Sobre stock</label>
                                <input class="form-check-input" type="checkbox" role="switch" name="sobreStockCheck"{% if prod.alerta_sobre %}checked{% endif %}>
                            </div>
                        </div>
                        <div class="col input-group">
                            <span class="input-group-text">Sobre stock</span>
                            <input name="txtSobreStock" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input class="btn btn-success" name="btn-guardar" type="submit" value="Guardar">
                        </div>
                        <div class="col">
                            <input class="btn btn-danger" name="btn-eliminar" type="submit" value="Eliminar">
                        </div>
                    </div>
                </form>
                <div>
                    <h1 class="titulo">Listado de Productos</h1>
                    <form class="lista-productos" method="post">
                        {% csrf_token %}
                        <table class="table table-sm table-responsive table-hover table-bordered">
                            <thead class="">
                                <tr class="table-primary">
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Proveedor</strong></th>
                                    <th scope="col">Stock</strong></th>
                                    <th scope="col">Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for producto in productos %}
                                <tr>
                                    <td>{{ producto.sku }}</td>
                                    <td>{{ producto.nombre }}</td>
                                    <td>{{ producto.proveedor }}</td>
                                    <td>{{ producto.cantidad }}</td>
                                    <td><input type="radio" id="rb-{{ producto.sku }}" name="sel-prod" class="form-check-input" {% if prod.sku == producto.sku %}checked{% endif %}  value="{{producto.sku}}" onclick="this.form.submit()"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
{% endblock %}