{% extends 'webpage/base.html' %}

{% block index-a %}active{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 cuadro">
                {% if user.is_authenticated %}
                <h1>Bienvenido a INVCONTROL</h1>
                <p>Usuario autentificado {{ user.username|upper }}</p>
                <div class="image-content d-inline-block">
                    <img>
                </div>
                {% else %}
                <h1>Bienvenido a INVCONTROL</h1>
                <p>Antes de poder usar el sistema debe iniciar sesion</p>
                <a class="enl" href="{% url 'login' %}">Iniciar Sesion</a> | <a class="enl" href="{% url 'signup' %}">Crear
                    Cuenta</a>
                {% endif %}
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <script>$(document).ready(function(){
        getDog();
    });</script>
{% endblock %}