{% extends 'webpage/base.html' %}

{% load static %}

{% block ingreso-a %}active{% endblock %}

{% block content %}
<div class="container-xxl">
  <div class="tabla-retiro overflow-auto">
    <div class="col mb-3">
      <h1 class="titulo">Listado Ingreso a bodega</h1>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col mb-3 input-group">
          <div class="form-floating">
            <input type="number" id="txtbusqueda" class="form-control" placeholder="codigo">
            <label>Codigo</label>
          </div>
          <input type="button" class="btn btn-secondary" value="Buscar"
            onclick="agrega_producto_ingreso('#carrito',$('#txtbusqueda').val())">
        </div>
        <div class="col input-group d-flex justify-content-end mb-3">
          <input class="btn btn-success" name="btn-guardar" type="submit" value="Guardar">
          <input type="button" value="Limpiar" class="btn btn-secondary" name="btn-limpiar"
            onclick="$('#carrito tbody tr').remove()">
        </div>
      </div>

      <table id="carrito" class="table table-sm table-hover table-bordered table-striped">
        <thead>
          <tr class="table-info">
            <td>Producto</td>
            <td>Cantidad</td>
            <td>Stock</td>
            <td>Codigo Producto</td>
            <td>Eliminar</td>
          </tr>
        </thead>
        <tbody>
        </tbody>

      </table>
    </form>
  </div>
</div>
{% endblock %}