{% extends 'webpage/base.html' %}

{% block retiro-a %}active{% endblock %}

{% block content %}
  <div class="container-xxl">
    <div class="tabla-retiro overflow-auto">
      <h1 class="titulo">Listado retiro de bodega</h1>
      <table class="table table-sm table-hover table-bordered table-striped">
        <thead>
          <tr class="table-info">
            <td>Producto</td>
            <td>Cantidad</td>
            <td>Stock</td>
            <td>Codigo Producto</td>
            <td>Fecha</td>
            <td>Eliminar</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Palta x Kg</td>
            <td>
              <div class="input-group"><input type="number" class="form-control" value="33"><span
                  class="in-kg input-group-text"></span></div>
            </td>
            <td>60 Kg</td>
            <td>112233</td>
            <td>21/02/22</td>
            <td><input class="btn-eliminar" type="image" value="Eliminar" src="./img/delete.png"></td>
          </tr>
          <tr>
            <td>Cebolla x Kg</td>
            <td class="input-group"><input class="form-control" type="number" value="33"><span
                class="in-kg input-group-text"></span></td>
            <td>45 Kg</td>
            <td>223344</td>
            <td>03/03/22</td>
            <td><input class="btn-eliminar" type="image" value="Eliminar" src="./img/delete.png"></td>
          </tr>
          <tr>
            <td>Manzana x Kg</td>
            <td class="input-group"><input class="form-control" type="number" value="30"><span
                class="in-kg input-group-text"></span></td>
            <td>20 Kg</td>
            <td>334455</td>
            <td>11/03/21</td>
            <td><input class="btn-eliminar" type="image" value="Eliminar" src="./img/delete.png"></td>
          </tr>
          <tr>
            <td>Tomate x Kg</td>
            <td class="input-group"><input class="form-control" type="number" value="20"><span
                class="in-kg input-group-text"></span></td>
            <td>68 Kg</td>
            <td>445566</td>
            <td>26/12/22</td>
            <td><input class="btn-eliminar" type="image" value="Eliminar" src="./img/delete.png"></td>
          </tr>
          <tr>
            <td>Limon x Kg</td>
            <td class="input-group"><input class="form-control" type="number" value="15"><span
                class="in-kg input-group-text"></span></td>
            <td>99 Kg</td>
            <td>556677</td>
            <td>13/11/22</td>
            <td><input class="btn-eliminar" type="image" value="Eliminar" src="./img/delete.png"></td>
          </tr>
          <tr>
            <td>Confort Extra Suave 30 Mt 4 Rollos</td>
            <td class="input-group"><input class="form-control" type="number" value="15"><span
                class="in-un input-group-text"></span></td>
            <td>55 un</td>
            <td>667788</td>
            <td>13/11/22</td>
            <td><input class="btn-eliminar" type="image" value="Eliminar" src="./img/delete.png"></td>
          </tr>
          <tr>
            <td>Pilas Duracell AA</td>
            <td class="input-group"><input class="form-control" type="number" value="3"><span
                class="in-un input-group-text"></span></td>
            <td>51 un</td>
            <td>778899</td>
            <td>13/11/22</td>
            <td><input class="btn-eliminar" type="image" value="Eliminar" src="./img/delete.png"></td>
          </tr>
          <tr>
            <td class="input-group">
              <div class="form-floating">
                <input type="number" class="form-control" placeholder="codigo">
                <label>Codigo</label>
              </div>
              <input type="button" class="btn btn-secondary" value="Buscar">
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
{% endblock %}